.transaction {
  width: 300px;
  margin: 15px auto;
  text-align: center;
  border-spacing: 0;
}
.tableHead {
  background-color: rgb(138, 207, 230);
}
.headRow > .item {
  color: white;
}
.item {
  padding: 8px 0;
  border: 1px solid grey;
  color: grey;
}
.row:nth-child(2n) {
  background-color: rgba(238, 231, 231, 0.7);
}
